.frame-1 .bienvenido {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.frame-1 .container-8 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 837px;
  display: flex;
  padding: 25px 0 11px 1038px;
  width: 1440px;
  box-sizing: border-box;
}
.frame-1 .rectangle-6 {
  background: url('../assets/images/rectangle_6.png') 50% / cover no-repeat;
  margin-right: 29px;
  width: 207px;
  height: 147px;
}
.frame-1 .fecha-17-abr-24-charla-potencia-tu-hoja-de-vida-con-estrategias-innovadoras-de-ia {
  margin: 37.5px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.fecha-17-abr-24-charla-potencia-tu-hoja-de-vida-con-estrategias-innovadoras-de-ia {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .container-11 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .image-4 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  margin-right: 29px;
  width: 207px;
  height: 147px;
}
.frame-1 .fecha-05-abr-24-unab-particip-en-reconocimiento-de-crmenes-por-parte-de-comparecientes-ante-la-jep {
  margin: 38px 0 37px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.fecha-05-abr-24-unab-particip-en-reconocimiento-de-crmenes-por-parte-de-comparecientes-ante-la-jep {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .container-14 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .container {
  margin: 0 27px 65px 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1179.4px;
  box-sizing: border-box;
}
.frame-1 .image-1 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  margin-right: 31px;
  width: 207px;
  height: 147px;
}
.fecha-15-abr-24-informacin-para-presentar-la-prueba-de-homologacin-institucional-tep {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .fecha-15-abr-24-informacin-para-presentar-la-prueba-de-homologacin-institucional-tep {
  margin: 42px 0 33px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.frame-1 .container-10 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .image-5 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  margin-right: 29px;
  width: 207px;
  height: 147px;
}
.frame-1 .fecha-01-abr-24-pruebas-de-homologacin-tep-itep-ii-ytep-iii {
  margin: 29px 0 64px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.fecha-01-abr-24-pruebas-de-homologacin-tep-itep-ii-ytep-iii {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .container-2 {
  margin: 0 27px 65px 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1161.8px;
  box-sizing: border-box;
}
.frame-1 .image-2 {
  background: url('../assets/images/image_2.png') 50% / cover no-repeat;
  margin-right: 31px;
  width: 207px;
  height: 147px;
}
.frame-1 .fecha-10-abr-24-conozca-el-programa-de-auditora-del-2024 {
  margin: 42px 0 51px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.fecha-10-abr-24-conozca-el-programa-de-auditora-del-2024 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .container-12 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .image-6 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  margin-right: 31px;
  width: 207px;
  height: 147px;
}
.frame-1 .fecha-01-abr-24-examen-diagnstico-de-ingls-para-estudiantes-pregrado-profesional {
  margin: 42px 0 33px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.fecha-01-abr-24-examen-diagnstico-de-ingls-para-estudiantes-pregrado-profesional {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .container-16 {
  margin: 0 27px 65px 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1146.9px;
  box-sizing: border-box;
}
.frame-1 .image-3 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  margin-right: 29px;
  width: 207px;
  height: 147px;
}
.frame-1 .fecha-09-abr-24-cursos-de-informtica-cuarto-cicloprimer-semestre-2024 {
  margin: 47px 0 28px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.fecha-09-abr-24-cursos-de-informtica-cuarto-cicloprimer-semestre-2024 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .container-18 {
  margin: 0 27px 187px 27px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .rectangle-8 {
  mix-blend-mode: luminosity;
  border-radius: 65px;
  background: url('../assets/images/rectangle_8.jpeg');
  background-size: cover;
  margin-right: 38.3px;
  width: 112px;
  height: 113px;
}
.frame-1 .universidad-autnoma-de-bucaramanga-avenida-42-no-4811-pbx-76436111-bucaramanga-colombia-nit-8902004999-todos-los-derechos-reservados {
  margin: 13px 0 10px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.frame-1 .container-15 {
  margin: 6.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.nuestros-medios-unab-tv-peridico-15-soy-autnomo-tv-unab-radio-sub2 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.nuestros-medios-unab-tv-peridico-15-soy-autnomo-tv-unab-radio-sub4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.nuestros-medios-unab-tv-peridico-15-soy-autnomo-tv-unab-radio-sub6 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.nuestros-medios-unab-tv-peridico-15-soy-autnomo-tv-unab-radio {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .nuestros-medios-unab-tv-peridico-15-soy-autnomo-tv-unab-radio {
  margin: 19.5px 0 16.5px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.sitios-unab-unab-instituto-caldas-unab-virtual-ulibro-sub2 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.sitios-unab-unab-instituto-caldas-unab-virtual-ulibro-sub4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.sitios-unab-unab-instituto-caldas-unab-virtual-ulibro-sub6 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.sitios-unab-unab-instituto-caldas-unab-virtual-ulibro {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .sitios-unab-unab-instituto-caldas-unab-virtual-ulibro {
  margin: 19.5px 0 16.5px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.redes-sociales-facebook-xinstagram-youtube-linkedin-sub6 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.redes-sociales-facebook-xinstagram-youtube-linkedin-sub8 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.redes-sociales-facebook-xinstagram-youtube-linkedin {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .redes-sociales-facebook-xinstagram-youtube-linkedin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.redes-sociales-facebook-xinstagram-youtube-linkedin-sub2 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.redes-sociales-facebook-xinstagram-youtube-linkedin-sub4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.frame-1 .container-6 {
  background: #4F75A1;
  position: relative;
  padding: 26px 90px 27px 90px;
  width: 1860px;
  box-sizing: border-box;
}
.frame-1 .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .apoyo-al-estudiante {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.frame-1 .container-17 {
  border-radius: 40px;
  background: #C73535;
  position: absolute;
  left: 504px;
  top: 8px;
  display: flex;
  padding: 3.5px 0 5.5px 0;
  width: 143px;
  box-sizing: border-box;
}
.frame-1 .informacin-administrativa {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.frame-1 .container-7 {
  border-radius: 40px;
  background: #C73535;
  position: absolute;
  top: 8px;
  right: 629px;
  display: flex;
  padding: 4px 19.8px 5px 19.8px;
  box-sizing: border-box;
}
.frame-1 .container-5 {
  position: absolute;
  left: 50%;
  top: 56px;
  translate: -50% 0;
  width: 1440px;
  height: 59px;
}
.frame-1 .rectangle-5 {
  background: url('../assets/images/rectangle_5.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 107px;
  right: 0px;
  width: 1440px;
  height: 600px;
}
.frame-1 .servicios-electrnicos {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-decoration-line: underline;
  color: #000000;
}
.frame-1 .container-9 {
  border-radius: 40px;
  background: #C73535;
  position: absolute;
  left: 163px;
  top: 7px;
  display: flex;
  padding: 5px 1px 4px 0;
  width: 143px;
  box-sizing: border-box;
}
.frame-1 .servicios-de-estudiantes {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.frame-1 .container-3 {
  border-radius: 40px;
  background: #C73535;
  position: absolute;
  left: 334px;
  top: 7px;
  display: flex;
  padding: 5px 0 4px 0;
  width: 143px;
  box-sizing: border-box;
}
.frame-1 .rectangle-4 {
  background: url('../assets/images/rectangle_15.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 123px;
  height: 113px;
}
.frame-1 {
  background: #FFFFFF;
  display: flex;
  padding-top: 10px;
  width: 1440px;
  box-sizing: border-box;
}
